{% extends "base.html" %}
{% block head %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<link type="text/css" rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">

{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper fixed-wrapper">
        <img src='static/img/arm.jpeg' alt="no image" width="500" height="500">
    </div>
    <div class="wrapper scroll-wrapper">
        <div class="top-text">
            <p class="text-title desktop-view">{{ common.first_name }}</p>
            <p class="text-title desktop-view">{{ common.last_name }}</p>
            <p class="text-title mobile-view">{{ common.first_name }} {{ common.last_name }}</p>
            
            <div class="social-icons">
                <a target="_blank" href="https://github.com">
                    <img class="title-logo" src="static/img/github.svg">
                </a>
                <a target="_blank" href="https://linkedin.com">
                    <img class="title-logo" src="static/img/linkedin-logo.svg">
                </a>
                <a target="_blank" href="https://twitter.com">
                    <img class="title-logo" src="static/img/twitter.svg">
                </a>
                <a target="_blank" href="https://instagram.com">
                    <img class="title-logo" src="static/img/insta.svg">
                </a>
            </div>
        </div>

        <div class="middle-text">
            <p class="text-content">
                Lorem ipsum dolor sit amet, sea ei scaevola sententiae adipiscing, his vivendum senserit ad. Te vis perpetua maiestatis expetendis, vim eu vidisse dolorum. Mei mollis noluisse splendide ei. Eos et iudico fabulas accusata, gubergren expetendis theophrastus vim ne.

                Ne mundi principes accommodare sed, mel te impedit adipiscing. Et has facete labitur. Vel ne iisque admodum deserunt, his volutpat cotidieque ea. Eos postea tractatos consetetur ex, ut mel admodum consequuntur, odio eirmod electram vis id.

                Mel quidam noster cu. Facete persius per eu, an adolescens eloquentiam vix, veri probo at per. Cum quas commune ea. Ad mei justo periculis hendrerit.   
            </p>

            <p class="text-content">Contact me!</p>

            <p class="text-content">Raymond Mills</p>

            <p class="text-content"><a href="#">For more about me...</a></p>

            <br>
        </div>
    </div>
</div>
{% endblock %}






